name: CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Build & test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: JVM Setup
        uses: ./.github/actions/jvm-setup

      - name: Write env.properties
        run: echo "${{ secrets.ENV_PROPERTIES }}" > ./env.properties

      - name: Build
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          annotate_only: true
          report_paths: "**/build/test-results/**/*.xml"
          fail_on_failure: true
